.about {
  margin-top: 10rem;
  margin-bottom: 10rem;
  .container-width {
    .about-container {
      display: flex;
      justify-content: space-between;
      .text-side {
        flex-basis: 50%;
        h4 {
          color: #147efb;
          font-size: 1.1rem;
          font-weight: bold;
          padding-bottom: 1rem;
        }
        h3 {
          font-weight: bold;
          font-size: 1.6rem;
          padding-bottom: 0.7rem;
          color: #2d2e32;
        }
        p {
          color: #767676;
          font-weight: 500;
          line-height: 1.6;
        }
      }
      .image-side {
        flex-basis: 50%;
        position: relative;
        .about-img {
          border-radius: 1.7rem;
          height: 22rem;
          width: 26rem;
          object-fit: cover;
        }
        span {
          background-color: #fff;
          border-radius: 50%;
          width: 12rem;
          height: 12rem;
          position: absolute;
          right: 1rem;
          bottom: -1rem;
          .rotating-text {
            width: 12rem;
            height: 12rem;
            position: absolute;
            right: 0;
            bottom: 0;
            animation: rotate 9s linear infinite;
          }
        }

        .human-emoji {
          width: 4rem;
          height: 4rem;
          position: absolute;
          right: 5rem;
          bottom: 3.5rem;
          z-index: 10;
        }
      }
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1000px) {
  .human-emoji,
  .rotating-text,
  .image-side span {
    display: none;
  }

  .about {
    .container-width {
      .about-container {
        flex-direction: column;

        .text-side {
          text-align: center;
        }
        .image-side {
          display: flex;
          margin-bottom: 5rem;
          .about-img {
            margin: 0 auto;
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .about {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .about {
    .container-width {
      width: 100%;
      padding: 0 2rem;
    }
  }
}
